body, html {
  margin: 0;
  padding: 0;
}

/* ========================================= */
/* SearchBar */
/* ========================================= */
.SearchBar__Bar {
  padding: 24px;
}

.SearchBar__Form {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: baseline;
  align-items: baseline;
}

.SearchBar__FormInput {
  height: 48px;
  width: 80%;
  padding: 0;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #01d277;
  outline: none !important;
  color: white;
  font-size: 2rem;
}

.SearchBar__FormSubmit {
  width: 15%;
  height: 48px;
  font-size: 1.6rem;
  border: 0 none;
  outline: none !important;
  cursor: pointer;
  background: #01d277;
  color: white;
}

.SearchBar__FormSubmit:hover {
  background: #019a57;
}

.SearchBar__FormSpinner {
  position: absolute;
  right: calc(20% + 12px);
}

.SearchBar__Results {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  width: 100%;
  padding: 0 24px 24px 24px;
  max-height: calc(100vh - 200px);
  overflow-y: scroll;
  z-index: 100;
}

.SearchBar__ResultsItem {
  color: white;
  cursor: pointer;
}

.SearchBar__ResultsItem:hover {
  color: #cccccc;
}


/* ========================================= */
/* MoviePoster */
/* ========================================= */
.MoviePoster {
  height: 500;
  max-width: 100%;
}

/* ========================================= */
/* MovieDetails */
/* ========================================= */
.MovieDetails {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.MovieDetails__grid {
  position: relative;
  display: grid;
  grid-template-columns: 400px auto;
  grid-template-rows: 64px 64px auto;
  grid-template-areas: "title title" "tagline tagline" "poster details";
  height: 80%;
  width: 80%;
  padding: 24px;
  max-width: 1200px;
}

.MovieDetails__blurredBackground {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  -webkit-filter: blur(10px) brightness(0.23);
  filter: blur(10px) brightness(0.23);
  border-radius: 2px;
}

.MovieDetails__header {
  z-index: 1;
  grid-area: title;
  margin: 0;
  font-size: calc(10px + 4vmin);
  -webkit-font-feature-settings: "c2sc";
  font-feature-settings: "c2sc";
  font-variant: small-caps;
  color: white;
}

.MovieDetails__header .MovieDetails_header__title {
  font-weight: 800;
}

.MovieDetails__header .MovieDetails_header__year {
  margin-left: 8px;
  font-weight: 300;
}

.MovieDetails__tagline {
  z-index: 1;
  grid-area: tagline;
  font-size: calc(10px + 1.5vmin);
  font-style: italic;
  color: #01d277;
}

.MovieDetails__poster {
  z-index: 1;
}

.MovieDetails__content {
  z-index: 1;
  height: 100%;
  width: 100%;
  color: #fff;
}

.MovieDetails__favorite-button {
  border: none;
  cursor: pointer;
  background: #01d277;
  color: white;
  font-size: calc(10px + 1vmin);
}

.MovieDetails__favorite-button:hover {
  background: #019a57;
}

/* ========================================= */
/* FavoriteListEntry */
/* ========================================= */
.FavoriteListEntry {
  display: grid;
  grid-template-columns: 80px auto 80px;
  grid-template-areas: "poster info remove";
  height: 80px;
  margin-bottom: 8px;
  border-radius: 2px;
  overflow: hidden;
  background-color: #282c34;
}

.FavoriteListEntry__poster {
  height: 100%;
}

.FavoriteListEntry__info {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-evenly;
  justify-content: space-evenly;
  height: 100%;
  cursor: pointer;
}

.FavoriteListEntry__info:hover {
  color: #01d277;
}

.FavoriteListEntry__title {
  margin: 0;
  font-size: calc(10px + 1vmin);
}

.FavoriteListEntry__tagline {
  margin: 0;
  color: lightgray;
}

.FavoriteListEntry__remove-button {
  border: none;
  cursor: pointer;
  background: #01d277;
  color: white;
  fill: white;
  font-size: calc(10px + 1.5vmin);
}

.FavoriteListEntry__remove-button:hover {
  background: #019a57;
}

/* ========================================= */
/* FavoritesList */
/* ========================================= */
.FavoritesList {
  list-style: none;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

/* ========================================= */
/* Favorites */
/* ========================================= */
.Favorites {
  margin-left: 8px;
}

/* ========================================= */
/* App */
/* ========================================= */
.App {
  height: 100vh;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: stretch;
  align-items: stretch;
  color: #fff;
}

.App-logo {
  padding: 8px;
  height: 40px;
  pointer-events: none;
}

.App-logo.App-logo--spinning {
  -webkit-animation: App-logo-spin infinite 20s linear;
  animation: App-logo-spin infinite 20s linear;
}

.App-header {
  background-color: #282c34;
  display: grid;
  grid-template-columns: 80px 150px auto 120px;
  grid-template-rows: 48px;
  -webkit-align-items: center;
  align-items: center;
}

.App-header__nav {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-direction: row;
  flex-direction: row;
  height: 100%;
}

.App-header__link {
  height: 100%;
  color: #01d277;
  text-decoration: none;
  -webkit-font-feature-settings: "c2sc";
  font-feature-settings: "c2sc";
  font-variant: small-caps;
  width: 96px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  cursor: pointer;
}

.App-header__link:hover {
  background-color: #404754;
}

.App-header__link--active {
  background-color: #181a1f;
}

.App-main {
  background-color: #181a1f;
  position: relative;
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-flex-basis: calc(100vh - 48px);
  flex-basis: calc(100vh - 48px);
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: stretch;
  align-items: stretch;
}

.App-header__title {
  font-size: calc(10px + 2vmin);
  font-weight: 300;
  color: #01d277;
  text-decoration: none;
  margin: 0;
}

@-webkit-keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
