// sizes
$base-size: 8px;

$text__max-width: 1200px;

$spacing--small: $base-size / 2;
$spacing--default: $base-size;
$spacing--large: $base-size * 2;

$border-radius--default: $base-size / 4;
$border-radius--large: $base-size;

// colors
$color__primary: #01d277;
$color__primary--darker: darken(#01d277, 11%);
$color__black: #282c34;
$color__black--darker: darken(#282c34, 11%);
$color__black--lighter: lighten(#282c34, 11%);
$color__white: #fff;
$color__white--darker: darken(#fff, 11%);
