.MovieDetails {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  width: 100%;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.MovieDetails__grid {
  position: relative;
  display: grid;
  grid-template-columns: 400px auto;
  grid-template-rows: 64px 64px auto;
  grid-template-areas:
    "title title"
    "tagline tagline"
    "poster details";

  height: 80%;
  width: 80%;
  padding: 24px;
  max-width: 1200px;
}

.MovieDetails__blurredBackground {
  display: block;
  position: absolute;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;

  background-image: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

  filter: blur(10px) brightness(0.23);

  border-radius: 2px;
}

.MovieDetails__header {
  z-index: 1;
  grid-area: title;
  margin: 0;

  font-size: calc(10px + 4vmin);
  font-variant: small-caps;
  color: white;

  & .header__title {
    font-weight: 800;
  }

  & .header__year {
    margin-left: 8px;
    font-weight: 300;
  }
}

.MovieDetails__tagline {
  z-index: 1;
  grid-area: tagline;

  font-size: calc(10px + 1.5vmin);
  font-style: italic;
  color: #01d277;
}

.MovieDetails__poster {
  z-index: 1;
}

.MovieDetails__content {
  z-index: 1;

  height: 100%;
  width: 100%;

  color: #fff;
}

.MovieDetails__favorite-button {
  border: none;
  cursor: pointer;
  background: #01d277;
  color: white;
  font-size: calc(10px + 1vmin);

  &:hover {
    background: darken(#01d277, 11%);
  }
}
