.ErrorMessage {
  height: 20vh;
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  color: white;
  background: red;
  z-index: 1000;

  button {
    height: 2rem;
    width: 4rem;
  }
}
