@import "../../Style/Sass/Variables";

.FavoriteListEntry {
  display: grid;
  grid-template-columns: $base-size*10 auto $base-size*10;
  grid-template-areas: "poster info remove";

  height: $base-size*10;
  margin-bottom: $base-size;

  border-radius: $border-radius--default;
  overflow: hidden;

  background-color: $color__black;
}

.FavoriteListEntry__poster {
  height: 100%;
}

.FavoriteListEntry__info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  cursor: pointer;

  &:hover {
    color: $color__primary;
  }
}

.FavoriteListEntry__title {
  margin: 0;

  font-size: calc(#{$base-size} + 1vmin);
}

.FavoriteListEntry__tagline {
  margin: 0;
  color: $color--white--darker;
}

.FavoriteListEntry__remove-button {
  border: none;
  cursor: pointer;
  background: $color__primary;
  color: $color__white;
  fill: $color__white;
  font-size: calc(#{$base-size} + 1.5vmin);

  &:hover {
    background: $color__primary--darker;
  }
}
