@import "../../Style/Sass/Variables";

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  color: $color__white;
}

.App-logo {
  padding: $base-size;
  height: $base-size*5;
  pointer-events: none;

  &.App-logo--spinning {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: $color__black;
  display: grid;
  grid-template-columns: $base-size*10 $base-size*20 auto $base-size*15;
  grid-template-rows: $base-size*6;
  align-items: center;
}

.App-header__nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 100%;
}

.App-header__link {
  height: 100%;
  color: $color__primary;
  text-decoration: none;
  font-variant: small-caps;
  width: $base-size*12;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    background-color: $color__black--lighter;
  }
}

.App-header__link--active {
  background-color: $color__black--darker;
}

.App-main {
  background-color: $color__black--darker;
  position: relative;
  flex: 0 0 calc(100vh - #{$base-size*6});
  display: flex;
  flex-direction: column;
  align-items: stretch;
}


.App-header__title {
  font-size: calc(#{$base-size} + 2vmin);
  font-weight: 300;
  color: $color__primary;
  text-decoration: none;
  margin: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
