@import "../../Style/Sass/Variables";

.FavoritesList {
  list-style: none;

  width: 80%;
  max-width: $text__max-width;
  margin: 0 auto;
}

.FavoritesList__empty-msg {
  margin-left: $base-size;
}
