.SearchBar {
}

.SearchBar__Bar {
  padding: 24px;
}

.SearchBar__Form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.SearchBar__FormInput {
  height: 48px;
  width: 80%;
  padding: 0;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #01d277;
  outline: none !important;
  color: white;
  font-size: 2rem;
}

.SearchBar__FormSubmit {
  width: 15%;
  height: 48px;
  font-size: 1.6rem;
  border: 0 none;
  outline: none !important;
  cursor: pointer;
  background: #01d277;
  color: white;
  &:hover {
    background: darken(#01d277, 11%);
  }
}

.SearchBar__FormSpinner {
  position: absolute;
  right: calc(20% + 12px);
}

.SearchBar__Results {
  background: rgba(0,0,0,0.8);
  position: absolute;
  width: 100%;
  padding: 0 24px 24px 24px;
  max-height: calc(100vh - 200px);
  overflow-y: scroll;
  z-index: 100;
}

.SearchBar__ResultsItem {
  color: white;
  cursor: pointer;
  &:hover {
    color: darken(white, 20%);
  }
}
